*{
    box-sizing: border-box;
}
.backgroundimg {
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: fixed;
}
.footer {
    
    position: absolute;
    top: 100%;
    left: 35%;
}
.container {
    position: relative;
    width: 1000px;
    height: 680px;
    transform: translateX(500px);
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.tabs li {
    display: inline;
    margin: 15px;
}
.tab-1 {
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}
.home-top {
    position: relative;
    height: 350px;
}
.home-top h3 {
    position: absolute;
    top: 50%;
    left: 60%;
}
.home-top h1 {
    position: absolute;
    top: 40%;
    left: 60%;
}
.home-top span {
    position: absolute;
    top: 60%;
    left: 60%;
}
.backImg {
    width: 100%;
    height: 100%;
}
.avatar {
    position: absolute;
    top: 150px;
    left: 35px;
    width: 210px;
    height: 220px;
    border-radius: 150px;
}
.home-bot {
    display: flex;
    height: 210px;
    background-color: #fff;
}
.home-bot h2 {
    margin-left: 50px;
    margin-top: 40px;
}
.home-bot p {
    margin-left: 50px; 
    margin-top: 20px;
}
.description {
    width: 450px;
    height: 250px;
}
//description list inline
.description-list {
    margin-left: 100px;
}
.description-list dl{
    margin-top: 40px;
}
.description-list dt { 
    float: left; 
    clear: left; 
    width: 100px;   
} 
.description-list dt::after { 
    content: ":"; 
} 
.description-list dd { 
    margin: 0 0 0 100px; 
    padding: 0 0 0.5em 0;    
} 
// 导航栏下划线
.tabs ul li.active {
    border-bottom: rgb(33, 130, 241) solid 3px;
}
