*{
    box-sizing: border-box;
}
.container{
    width: 1000px;
    height: 1000px;
    border: 2px red solid;
    transform: translateX(500px);
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.tabs li {
    display: inline;
    margin: 15px;
}
.card-top {
    position: relative;
}
.card-top h3{
    position: absolute;
    top: 50%;
    left: 60%;
}
.card-top h1 {
    position: absolute;
    top: 40%;
    left: 60%;
}
.card-top span {
    position: absolute;
    top: 60%;
    left: 60%;
}
.backImg {
    width: 100%;
}
.avatar {
    position: absolute;
    top: 210px;
    left: 50px;
    width: 250px;
    height: 250px;
}